/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 70px;
  background-color: #EC715F;
  line-height: 70px;
}

nav {
  display: flex;
  justify-content: center;
}

.logo {
  height: 70px;
}

.nav-list {
  width: 1024px;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}

.nav-list > :first-child {
  margin-right: auto;
}

.nav-list-item {
  font-size: 16px;
  margin-right: 30px;
  color: #fafafa;
  margin-left: 30px;
  margin-right: 30px;
}

.nav-list-item1 {
  margin-right: 30px;
  color: #fafafa;
  margin-right: 30px;
}

.main-visual {
  height: 650px;
  width: 100%;
  background-image: url(img/mv.png);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
}

.main-visual-content {
  height: 650px;
  width: 100%;
  text-align: center; /* 文字を中央揃えにする */
  padding-top: 200px; /* 上側の内側余白で垂直方向の位置を調整 */
}

.main-visual-title {
  color: #fafafa;
  font-size: 64px;
}

.main-visual-text {
  color: #fafafa;
  font-size: 20px;
  margin-top: 10px;
}

.main1 {
  height: 100%;
  background-color: #ECEFF1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.portfolio h1 {
  font-size: 32px;
  color: #000;
  margin-top: 90px;
  margin-bottom: 30px;
  text-align: center; /* 文字を中央揃えにする */
}

.portfolio p {
  font-size: 16px;
  color: #000;
  margin-bottom: 30px;
  text-align: center; /* 文字を中央揃えにする */
}

.portfolio-content {
  max-width: 920px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 90px;
}

.portfolio-box1 {
  background-image: url(img/talk.jpg);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.portfolio-box2 {
  background-image: url(img/websuku.png);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  width: 300px;
  height: 250px;
  margin-right: 10px;
  margin-bottom: 10px;
}

.portfolio-box3 {
  background-image: url(img/write.jpg);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  width: 300px;
  height: 250px;
  margin-bottom: 10px;
}

.portfolio-box4 {
  background-image: url(img/webcamp.png);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  width: 300px;
  height: 250px;
  margin-right: 10px;
}

.portfolio-box5 {
  background-image: url(img/talk.jpg);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  width: 300px;
  height: 250px;
  margin-right: 10px;
}

.portfolio-box6 {
  background-image: url(img/webcamp-mother.png);
  background-size: cover; /* 縦横比を維持したまま背景領域を埋め尽くす */
  background-position: center; /* 背景画像を中央に配置 */
  width: 300px;
  height: 250px;
}

.main2 {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature{
  width: 980px;
}

.feature h1 {
  font-size: 32px;
  color: #000;
  margin-top: 90px;
  text-align: center; /* 文字を中央揃えにする */
}

.feature p {
  font-size: 16px;
  color: #000;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center; /* 文字を中央揃えにする */
}

.feature-content {
  max-width: 980px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 90px;
}

.feature-box1 {
  width: 320px;
  height: auto;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-box1 i {
  font-size: 60px;
}

.feature-box1 p {
  font-size: 16px;
  color: #000;
}


.feature-box2 {
  width: 320px;
  height: auto;
  margin-right: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-box2 i {
  font-size: 60px;
}

.feature-box2 p {
  font-size: 16px;
  color: #000;
}


.feature-box3 {
  width: 320px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.feature-box3 p {
  font-size: 16px;
  color: #000;
}

.feature-box3 i {
  font-size: 60px;
}

.main3 {
  height: 100%;
  background-color: #ECEFF1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile {
  width: 1024px;
}

.profile h1 {
  font-size: 32px;
  color: #000;
  margin-top: 90px;
  text-align: center;
}

.profile p {
  font-size: 16px;
  color: #000;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.profile-content {
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-image-box {
  width: 512px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-image {
  background-image: url(img/my-icon.jpg);
  height: 250px;
  width: 250px;
  /* 要素の形を正円にする */
  border-radius: 50%;
}

.profile-text {
  width: 512px;
}

.profile-text h4 {
  font-size: 20px;
  margin-bottom: 5px;
  text-align: start;
}

.profile-text p {
  font-size: 16px;
  color: #000;
  margin-bottom: 20px;
  margin-top: 0;
  text-align: start;
}

.main4 {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact {
  width: 800px;
}

.contact h1 {
  font-size: 32px;
  color: #000;
  margin-top: 90px;
  text-align: center;
}

.contact p {
  font-size: 16px;
  color: #000;
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.contact-content {
  margin-bottom: 90px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-box {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.contact-box h4 {
  font-size: 20px;
  margin-bottom: 5px;
}

.contact-box p {
  margin-bottom: 20px;
  margin-top: 0;
}

.contact-box i {
  font-size: 50px;
  margin-right: 20px;
}

footer {
  height: 60px;
  background-color: #EC715F;
  text-align: center; /* 文字を中央揃えにする */
  line-height: 60px;
}

.footer-text {
  font-size: 16px;
  color: #fafafa;
}

@media screen and (max-width: 767px) {
  header {
    width: 100%;
    height: 50px;
  }

  .logo {
    height: 50px;
  }

  .main-visual {
    background-image: url(img/code.png);
    height: 650px;
  }

  .main-visual-content {
    width: 90%;
  }

  .main-visual-title {
    margin-top: 200px;
    margin-bottom: 10px;
    font-size: 40px;
  }

  .main-visual-text {
    font-size: 18px;
  }

  .portfolio {
    width: 90%;
  }

  .portfolio-content {
    width: 45%;
    margin: auto;
    display: block;
    margin-bottom: 90px;
  }

  .portfolio-box1 {
    display: none;
  }

  .portfolio-box3 {
    display: none;
  }
  .portfolio-box5 {
    display: none;
  }

  .feature {
    width: 90%;
  }

  .feature-content {
    width: 45%;
    margin: auto;
    display: block;
    margin-bottom: 90px;
  }

  .profile {
    width: 90%
  }

  .profile-text h4 {
    text-align: center;
  }

  .profile-text p {
    text-align: center;
  }

  .contact {
    width: 90%;
    margin-bottom: 90px;
  }

  .contact-content {
    width: 45%;
    margin: auto;
    display: block;
  }

  .contact-box {
    width: 45%;
    margin: auto;
    display: block;
  }

  .contact-box1 h4 {
    text-align: center;
  }

  .contact-box1 p {
    text-align: center;
  }

  .contact-box1 i {
    margin-right: 0px;
    text-align: center;
  }

}